body{
    background-color: rgb(196, 240, 226);
}


#mainHeading{
    margin-top: 20px;
}
/* .mainContainer{
    
} */

.eachItem{
    font-style: italic;
    font-size: large;
    margin-right: 10px;
}
.itemDone{
   text-decoration: line-through;
}

.itemWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0 10px 0;
}

.inputContainer{
    display: flex;
    margin-bottom: 20px;

}